@use "functions" as *;
@use "variables" as *;

@mixin fluid(
  $properties,
  $mobile,
  $tablet: $mobile,
  $desktop-min: $tablet,
  $desktop: $desktop-min
) {
  & {
    @each $property in $properties {
      #{$property}: $mobile;
    }

    $tablet-width: map-get($breakpoints, "tablet");
    $desktop-min-width: map-get($breakpoints, "desktop-min");
    $desktop-width: map-get($breakpoints, "desktop");

    @media screen and (min-width: $tablet-width) {
      @each $property in $properties {
        #{$property}: calc-interpolation(
          $tablet,
          $desktop-min,
          $tablet-width,
          $desktop-min-width
        );
      }
    }

    @media screen and (min-width: $desktop-min-width) {
      @each $property in $properties {
        #{$property}: calc-interpolation(
          $desktop-min,
          $desktop,
          $desktop-min-width,
          $desktop-width
        );
      }
    }

    @media screen and (min-width: $desktop-width) {
      @each $property in $properties {
        #{$property}: #{get-vw($desktop, $desktop-width)};
      }
    }
  }
}
